In [2]:
import pandas as pd

In [3]:
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(data = ['Wes McKinney', 'Creator of Pandas'], index = ['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [12]:
scientists = pd.DataFrame(
    data={
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    },
    index=["Rosaline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"],
)

print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [6]:
scientists = pd.DataFrame(
    data={
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    },
    index=["Rosaline Franklin", "William Gosset"],
    columns=["Occupation", "Died", "Born", "Age"],
)

print(scientists)

                     Occupation        Died        Born  Age
Rosaline Franklin       Chemist  1958-04-16  1920-07-25   37
William Gosset     Statistician  1937-10-16  1876-06-13   61

In [7]:
scientists = pd.DataFrame(
    data={
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    },
    index=["Rosaline Franklin", "William Gosset"],
    columns=["Occupation", "Born"],
)

print(scientists)

                     Occupation        Born
Rosaline Franklin       Chemist  1920-07-25
William Gosset     Statistician  1876-06-13

In [9]:
scientists.index

Index(['Rosaline Franklin', 'William Gosset'], dtype='object')

In [10]:
scientists.values

array([['Chemist', '1920-07-25'],
       ['Statistician', '1876-06-13']], dtype=object)

In [13]:
scientists['Age'].mean()

49.0

In [14]:
scientists['Age'].sort_values()

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [15]:
scientists['Age'].describe()

count     2.000000
mean     49.000000
std      16.970563
min      37.000000
25%      43.000000
50%      49.000000
75%      55.000000
max      61.000000
Name: Age, dtype: float64

In [16]:
scientists = pd.read_csv('../data/scientists.csv')

In [17]:
scientists['Age'].describe()

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [19]:
ages = scientists['Age']

In [20]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [21]:
print( ages * ages )

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [22]:
print( ages + 100 )

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [23]:
ages + pd.Series([1,2])

0    38.0
1    63.0
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

In [24]:
pd.Series([1,2])

0    1
1    2
dtype: int64

In [25]:
ages + pd.Series([1,2,3,4,5,6,7,8])

0    38
1    63
2    93
3    70
4    61
5    51
6    48
7    85
dtype: int64

In [27]:
scientists['Born_dt'] = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')

In [28]:
scientists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
 5   Born_dt     8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 516.0+ bytes